@font-face {
    font-family: 'silombold';
    src: url('assets/silom/silombol-webfont.eot');
    src: url('assets/silom/silombol-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/silom/silombol-webfont.woff2') format('woff2'),
         url('assets/silom/silombol-webfont.woff') format('woff'),
         url('assets/silom/silombol-webfont.ttf') format('truetype'),
         url('assets/silom/silombol-webfont.svg#silombold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "silombold", monospace;
  background-color: #0F2234;
  overflow: hidden;
}

p {
  color: #fff;
}

.particle {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -10;
  justify-content: center;
}

.earth {
  width: 100vw;
  height: auto;
  margin-top: -57.5px;
  z-index: -5;
  position: absolute;
}

.chaosFl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90vh;
  z-index: 0;
}

.logocontainer {
  width: 50vw;
  height: auto;
  margin-top: 50px;
}

.chaosFlLogo {
  width: 100%;
  height: auto;
}

.sublinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.subline {
  margin-top: 100px;
  font-size: 20pt;
  letter-spacing: 5px;
}

.message {
  font-size: 86pt;
  letter-spacing: 5px;
  text-align: center;
  margin-top: -40vh;
}

.submessage {
  text-align: center;
  font-size: 24pt;
  letter-spacing: 7px;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 760px) {
  .earth {
    visibility: hidden;
  }
}
