@font-face {
    font-family: 'silombold';
    src: url('assets/silom/silombol-webfont.eot');
    src: url('assets/silom/silombol-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/silom/silombol-webfont.woff2') format('woff2'),
         url('assets/silom/silombol-webfont.woff') format('woff'),
         url('assets/silom/silombol-webfont.ttf') format('truetype'),
         url('assets/silom/silombol-webfont.svg#silombold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "silombold", monospace;
  background-color: #0F2234;
}

p {
  color: #fff;
}

.particle {
  width: 99vw;
  height: 97vh;
  position: absolute;
  z-index: -10;
  justify-content: center;
}

.chaosFl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90vh;
}

.logocontainer {
  width: 1200px;
  height: auto;
  margin-top: 50px;
}

.chaosFlLogo {
  width: 100%;
  height: auto;
}

.sublinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.subline {
  margin-top: 30px;
  font-size: 20pt;
  letter-spacing: 5px;
}
